* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --index: calc(1vw + 1vh);
   --gutter: 25px;
   --side-small: 25;
   --side-big: 35;
   --depth: 6200px;
   --transition: .75s cubic-bezier(.075, .5, 0, 1);
}

@font-face {
   font-family: raleway_c;
   src: url(../fonts/raleway-v22-cyrillic-300.woff2);
   font-weight: 300;
}

@font-face {
   font-family: raleway_c;
   src: url(../fonts/raleway-v22-cyrillic-100.woff2);
   font-weight: 100;
}

body {
   font-family: raleway_c, sans-serif;
   color: #fff;
   font-weight: 300;
   font-size: calc(var(--index) * 1.2);
   line-height: 1.75;
   background-color: #000;
   height: var(--depth);
   scrollbar-width: none;
}

body::-webkit-scrollbar { 
	display: none;
}

h1, h2, h3, h4 {
   font-weight: 100;
   text-transform: uppercase;
   line-height: 1;
}

.container {
   position: fixed;
   perspective: 1500px;
   width: 100%;
   height: 100%;
}

.gallery {
   transform-style: preserve-3d;
   height: 100%;
}

.frame {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   transition: var(--transition), opacity .45s;
   will-change: transform;
   transform-style: preserve-3d;
}

.frame_bg {
   background-color: rgba(0, 0, 0, .7);
}

h1.frame__title {
   text-align: center;
   font-size: calc(var(--index) * 5.5);
   width: min-content;
}

h3.frame__title {
   text-align: center;
   font-size: calc(var(--index) * 3);
}

.frame__media {
   position: relative;
   width: calc(var(--index) * var(--side-small));
   height: calc(var(--index) * var(--side-big));
   background-position: center;
   background-size: cover;
}

.frame__media_left {
   right: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}

.frame__media_right {
   left: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
}

video.frame__media {
   width: calc(var(--index) * var(--side-big));
   height: calc(var(--index) * var(--side-small));
}

video.frame__media_left {
   right: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}

video.frame__media_right {
   left: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
}

.text-left > * {
   position: relative;
   right: 20vw;
}

.text-right > * {
   position: relative;
   left: 20vw;
}

.frame__text {
   max-width: 40vw;
   margin-top: 2vh;
}

.audio-btn {
   position: fixed;
   width: 35px;
   bottom: 5vh;
   right: 5vw;
   cursor: pointer;
   transition: all .3s;
}

.audio-btn.paused {
   opacity: .25;
}